.text-center
  %h3.general-login-title Set new password

= general_simple_form_for resource, as: resource_name,
  url: user_edit_password_path do |field|

  .form-group.mb-30
    = field.input :current_password, autocomplete: "true", placeholder: "Type a current Password"

  .form-group.mb-30
    = field.input :password, placeholder: "Type a new Password"

  .form-group.mb-40
    = field.input :password_confirmation, placeholder: "Confirm Password"

  = field.button :submit, "Change", class: 'btn btn-default center-block mb-20'
