.form-group
  = field.input :number
.row
  .col-sm-6
    .form-group
      = field.input :name
  .col-sm-2
    .form-group
      = field.input :month
  .col-sm-2
    .form-group
      = field.input :year
  .col-sm-2
    .form-group.relative
      = field.input :cvv
