= simple_form_for current_user, url: user_path(anchor: 'privacy'), method: :patch,
  html: { class: 'general-form-md divider-lg-bottom pb-25',
  id: 'edit_user_password' } do |field|

  = hidden_field_tag :with_password, true

  .form-group.mb-30
    = field.input :current_password

  .form-group.mb-30
    = field.input :password, label: t('simple_form.labels.user.new_password')

  .form-group.mb-40
    = field.input :password_confirmation

  .general-text-align
    = field.button :submit, t('simple_form.titles.save'),
      class: 'btn mb-10'
