= simple_form_for resource, as: resource_name,
  url: registration_path(resource_name),
  html: { class: 'general-form-md divider-lg-bottom pb-25' } do |field|

  = hidden_field_tag :with_password, true

  .form-group.mb-30
    = field.input :current_password

  .form-group.mb-30
    = field.input :password, placeholder: t('simple_form.user.new_password'),
      label: t('simple_form.user.new_password')

  .form-group.mb-40
    = field.input :password_confirmation, placeholder: t('simple_form.user.new_password'),
      label: t('simple_form.user.new_password')

  .general-text-align
    = field.button :submit, t('simple_form.titles.save'),
      class: 'btn mb-10'
