= simple_form_for resource, as: resource_name,
  url: registration_path(resource_name),
  html: { class: 'general-form-md', id: 'edit_user_email' } do |field|

  .form-group.mb-30
    = field.input :first_name

  .form-group.mb-30
    = field.input :last_name

  .form-group.mb-40
    = field.input :email

  .general-text-align
    = field.button :submit, t('simple_form.titles.save'),
      class: 'btn btn-default mb-35'
