.mb-60.container.general-main-wrap.center
  .col-sm-6
    .text-center
      %h3.in-gold-500.mb-25= t('.customer.old')
      = render 'omni_links'

      %p.general-login-text= t('or')

    .general-form
      %h3.grey-600= t('.login_message')

    = render 'devise/sessions/login_form', title: t('.continue_button')


  .col-sm-6
    .text-center
      %h3.in-gold-500.mb-25= t('.customer.new')
      = render 'omni_links'

      %p.general-login-text= t('or')

    .general-form
      %h3.grey-600= t('.quik_regist.title')
      %p.general-login-text= t('.quik_regist.message')

    = general_simple_form_for resource, as: resource_name, html: { id: 'quik_regist' },
      url: sign_up_path(resource, type: 'fast') do |field|

      = hidden_field_tag :fast_auth, true

      .form-group.mb-30
        = field.input :email, autofocus: true

      .text-center
        = field.button :submit, t('.continue_button'), class: 'btn btn-default mb-20'
