%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('.title')

  = form_tag orders_path, method: :get, id: 'filter_orders' do

    %p.lead.small.mb-10.visible-xs Sort by
    .dropdowns.dropdown.general-order-dropdown
      %a#order_types.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = state_title
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        - @states.each do |state|
          %li
            %label
              = t(".states.#{state}")
              = radio_button_tag :state, state, params[:state] == state.to_s, hidden: true

    .visible-xs
      = render @orders


    .hidden-xs.mb-res-50
      = render 'orders_table', orders: @orders
