%main.container.general-main-wrap
  %h1.general-title-margin= t('.order_id', id: @order.id)
  .row.mb-20
    = render 'orders/components_panel', order: @order

  .visible-xs
    = render @order.order_items

  .hidden-xs.divider-lg.pt-20
    = render 'order_items/table', order_items: @order.order_items

  = render 'result_panel', order: @order
