%main.container.general-main-wrap
  %h1.general-title-margin= t('.order_id', id: @order.id)
  .row.mb-20
    = render partial: 'orders/components_panel', locals: { order: @order }

  .visible-xs
    - current_order.order_items.each do |order_item|
      = render partial: 'order_items/order_item',
        locals: { order_item: order_item }

  .hidden-xs.divider-lg.pt-20
    = render partial: 'order_items/table',
      locals: { order_items: current_order.order_items }

  = render 'checkouts/result_panel'
