%li.mr-35{class: "#{'active' if params[:with_category].blank?}"}
  %label.filter-link
    = t('books.index.sorted_by.all')
    = radio_button_tag :with_category, '', false, hidden: true
    %span.badge.general-badge= @book_count

- categories.decorate.each do |category|
  - chosen = category.current?(params[:with_category])
  %li.mr-35{ class: "#{'active' if chosen}" }
    %label.filter-link
      = category.title
      = radio_button_tag :with_category, category.title, chosen, hidden: true
      %span.badge.general-badge= category.books_count
