%li.mr-35
  %label.filter-link
    All
    = radio_button_tag :with_category, '', false, hidden: true
    %span.badge.general-badge= @book_count

- categories.each do |category|
  %li.mr-35
    %label.filter-link
      = category.title
      = radio_button_tag :with_category, category.title, params[:with_category] == category.title.to_s, hidden: true
      %span.badge.general-badge= category.books_count
