%li.mr-35{class: "#{'active' if params[:id].blank?}"}
  = link_to books_path(sorted_by: params[:sorted_by]), class: 'filter-link' do
    = t('books.index.sorted_by.all')
    %span.badge.general-badge= book_count

- categories.decorate.each do |category|
  %li.mr-35{ class: "#{'active' if current_page?(category)}" }
    = link_to category_sorted_path(category), class: 'filter-link' do
      = category.title
      %span.badge.general-badge= category.books_count
