%main.container
  %h1.general-title-margin= t('.title')

  -# TODO Decorators
  - sort_key = params[:sorted_by].blank? ? :newest : params[:sorted_by]
  - sort_title = t(".sorted_by.#{sort_key}")
  - category_title = params[:with_category].blank? ? t('all') : params[:with_category]


  = form_tag books_path, method: 'get', id: 'filter_book' do

    .hidden-xs.clearfix
      .dropdowns.pull-right
        .dropdown.width-240
          = render partial: 'drop_down_items', locals: { items: @sort_types,
            type: :sorted_by, title: sort_title }

      %ul.list-inline.pt-10.mb-25.mr-240
        %li.mr-35
          %label.filter-link
            = 'All'
            = radio_button_tag :with_category, '', false, hidden: true
            %span.badge.general-badge= Book.count
        = render partial: "category", collection: @categories

    .dropdowns.mb-25.visible-xs

      %p.lead.small.mb-10= t('.filter_by')
      .dropdown
        = render partial: 'drop_down_items', locals: { items: @sort_types,
          type: :sorted_by, title: sort_title }

      %p.lead.small.mb-10= t('.sorted_by.title')
      .dropdown
        = render layout: 'drop_down_items', locals: { items: @categories,
          type: :with_category, title: category_title } do
          %li
            %label
              = 'All'
              = radio_button_tag :with_category, '', false, hidden: true


  .mb-120
    - @books.in_groups_of(4).each do |group|
      .row
        = render partial: "book", collection: group
