%main.container
  %a.general-back-link{href: "#"}
    %i.fa.fa-long-arrow-left.mr-15
    = t('.back_to_result')
  .row
    .col-sm-6
      .product-pictures
        .mb-20
          = image_tag @book.main_picture, class: 'img-responsive'
        .images.clearfix
          - @book.other_picutres.each do |picture|
            = image_tag picture.path.to_s, class: 'img-link'

    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.authors_name
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= @book.currency_price
        .col-xs-5.col-md-3
          .input-group.general-position.align-center
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40

        .col-xs-7.col-md-5
          - if @book.in_stock?
            %button.btn.btn-default.pull-right.general-position= t('add_to_cart')
          - else
            .general-position.align-center
              %h3.mt-res-0= t('.not_in_stock')

      .general-info-wrap.divider-lg
        %p= t('description')
        %p.lead.small.line-height-2
          = @book.desc
          -# %a.in-gold-500.ml-10{href: "#"} Read More
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.publicate_at')
          %p.lead.small.pull-right= @book.publicate_at
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.dimensions.title')
          %p.lead.small.pull-right= @book.parse_dimension
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.materials')
          %p.lead.small.pull-right= @book.materials_name



  .mb-80
    %h3.in-gold-500.mb-25= t('.reviews_count', amount: @reviews.count)
    = render @reviews.decorate

  .mb-80
    - if can? :create, Review
      .h3.in-gold-500 Write your review about this book
      = render partial: 'reviews/form'

    - else
      .h3
        If you want write review you must
        = link_to link_to t('simple_form.titles.log_in'), new_user_session_path,
          class: 'in-gold-500'
