.container.general-main-wrap
  .text-center
    %h3.general-login-title Log In
    = link_to user_facebook_omniauth_authorize_path,
      class: 'general-login-icon' do
      %i.fa.fa-facebook-official
    = link_to user_google_oauth2_omniauth_authorize_path,
      class: 'general-login-icon' do
      %i.fa.fa-twitter
    %p.general-login-text or

  = general_simple_form_for resource, as: resource_name,
    url: session_path(resource_name) do |field|

    = render partial: 'fields', locals: { field: field }

  %p.general-sign-text.text-center
    Don’t have an Account?
    = link_to "Sign up", new_registration_path(resource_name),
      class: 'in-gold-500'
