- order ||= current_order

.center-block.general-text-align
  .general-text-align
  %p.in-gold-500.font-18= t('carts.edit.order_summary')
  %table.general-summary-table
    %tbody
      %tr
        %td
          %p.font-16= "#{t('carts.edit.sub_total')}:"
        %td
          %p.font-16= currency_price(order.sub_total)

      - components ||= [:coupon, :delivery]
      - components.each do |component|
        %tr
          %td
            %p.font-16= t("carts.edit.#{component}") + ':'
          %td
            %p.font-16{ id: "order_#{component}" }
              = currency_price(order.send("#{component}_cost"))

      %tr
        %td
          %strong.font-18= "#{t('carts.edit.order_total')}:"
        %td
          %strong#order_subtotal.font-18
            = currency_price(order.total_price)
