.row
  .col-md-5
    %p.in-gold-500.font-18= t('carts.edit.order_summary')
    .general-text-align
      %table.general-summary-table
        %tr
          %td
            %p.font-16= "#{t('carts.edit.sub_total')}:"
          %td
            %p.font-16= currency_price(current_order.sub_total)
        %tr
          %td
            %p.font-16= "#{t('carts.edit.order_total')}:"
          %td
            %p.font-16= currency_price(current_order.calc_total_cost(:coupon, :delivery))
