%main.container.general-main-wrap
  = render 'step_nav'

  = form_tag checkout_path, class: 'delivery_form', method: :patch do
    .row.mb-20
      - current_order.addresses.each do |address|
        .col-sm-3
          = render partial: 'addresses/panel', locals: { address: address }
      .col-sm-3
        %h3.general-subtitle= t('.shipments')
        %p.general-address
          = current_order.delivery.name
          %span.general-edit= link_to t('edit'), checkout_path(:delivery)
          %br
          = current_order.delivery.decorate.duration
      .col-sm-3
        %h3.general-subtitle= t('.payment')
        %p.general-address
          = current_order.credit_card.decorate.hidden_number
          %span.general-edit= link_to t('edit'), checkout_path(:payment)
          %br
          = current_order.credit_card.month_year


    .visible-xs
      - current_order.order_items.each do |order_item|
        = render partial: 'order_items/order_item',
          locals: { order_item: order_item }

    .hidden-xs.divider-lg.pt-20
      = render partial: 'order_items/table',
        locals: { order_items: current_order.order_items }

    = render 'result_panel'

    .col-md-12.mb-40
      .center-block.general-text-align
        = hidden_field_tag :confirm, true
        = submit_tag t('simple_form.titles.save_and_continue'),
          class: 'button btn btn-default mb-20'
