%div{ id: "#{type}_address" }
  = field.hidden_field :address_type, value: type

  - [:first_name, :last_name, :name, :city, :zip].each do |name|
    .form-group
      = field.input name, input_html: { id: "#{name}_#{type}_address" }

  .form-group
    = field.input :country_id, collection: @countries,
      label_method: :name, value_method: :id,
      include_blank: t('simple_form.placeholders.address.country'),
      input_html: { id: "country_id_#{type}_address" }

  .form-group
    = field.input :phone, input_html: { id: "phone_#{type}_address" }
