.general-cart-item.divider-lg-bottom.mb-30

  - if local_assigns[:field]
    = render 'order_items/delete_link', order_item: order_item

  .general-img-wrap-table
    = link_to order_item.book do
      = image_tag order_item.book.avatar_url, class: 'cart-img-shadow'
  = link_to order_item.book.title, order_item.book, class: 'title'

  %table.table
    %tr
      %td
        %span.in-grey-600= t('carts.edit.price')
      %td
        %span.font-16.in-gold-500= currency_price(order_item.book.price)
    %tr
      %td.vertical-middle
        %span.in-grey-600= t('carts.edit.quantity')
      %td
        .input-group.align-center
          = render 'order_items/quantity_field', order_item: order_item,
            field: local_assigns[:field]
    %tr
      %td
        %span.in-grey-600= t('carts.edit.sub_total')
      %td
        %span.font-16.in-gold-500= currency_price(order_item.sub_total)
