.general-cart-item.divider-lg-bottom.mb-30

  = render partial: 'order_items/delete_link', locals: { order_item: order_item }

  .general-img-wrap-table
    %img.cart-img-shadow{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  %p.title= order_item.book.title
  %table.table
    %tr
      %td
        %span.in-grey-600 Price
      %td
        %span.font-16.in-gold-500= currency_price(order_item.book.price)
    %tr
      %td.vertical-middle
        %span.in-grey-600 Quantity
      %td
        .input-group.align-center
          = render partial: 'order_items/quantity_field',
            locals: { field: local_assigns[:field] }

    %tr
      %td
        %span.in-grey-600 SubTotal
      %td
        %span.font-16.in-gold-500= currency_price(order_item.sub_total)
