%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600= t('carts.edit.product')
      %th.col-title
      %th.col-price
        %span.in-grey-600= t('carts.edit.price')
      %th
        %span.in-grey-600= t('carts.edit.quantity')
      %th
        %span.in-grey-600= t('carts.edit.sub_total')

      - if local_assigns[:field]
        %th.close-link

  %tbody
    - if local_assigns[:field]
      = field.simple_fields_for :order_items do |item_field|
        = render 'order_items/table_field', order_item: item_field.object,
          field: item_field
    - else
      - order_items.each do |order_item|
        = render 'order_items/table_field', order_item: order_item
