.form-group.mb-30
  = field.input :email, autofocus: true, placeholder: 'Enter Email'

.form-group.mb-30
  = field.input :password, autocomplete: "off"
  = link_to 'Forgot password?', new_password_path(resource_name),
    class: 'help-block in-gold-500'

= yield

- if devise_mapping.rememberable?
  .form-group.checkbox.text-center.mb-30
    %label.checkbox-label
      = field.check_box :remember_me, class: 'checkbox-input', hidden: true
      %span.checkbox-icon
        %i.fa.fa-check
      %span.checkbox-text Remember me

.text-center
  = field.button :submit, title, class: 'btn btn-default mb-20'
