.general-message-wrap.divider-lg
  .clearfix
    = user_avatar(review.user)
    .ml-70
      %div
        .general-message-date.hidden-xs= review.created_strf
        .max-240
          .general-message-verified= review.title
          .general-message-name= review.user_name

      .mb-15
        - review.grade.times do
          %i.fa.fa-star.rate-star
        - if review.desc
          %p= review.desc
