%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('home'), main_app.root_path, class: 'nav-link'
          %li
            = link_to t('shop'), main_app.books_path, class: 'nav-link'

          - if signed_in?
            %li
              -# = link_to t('orders.title'), corzinus.orders_path, class: 'nav-link'
            %li
              = link_to t('settings'), main_app.edit_user_path, class: 'nav-link'

      .col-sm-3
        %p.general-nav-mail= Figaro.env.mail_support
        %p.general-nav-number= Figaro.env.phone
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
