%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'Bookstore', root_path, class: 'navbar-brand'

      = link_to edit_cart_path, class: 'shop-link pull-right visible-xs' do
        %span.shop-icon{class: empty_cart_class}
          %span.shop-quantity= current_order.items_count

    = link_to edit_cart_path, class: 'shop-link pull-right hidden-xs' do
      %span.shop-icon{class: empty_cart_class}
        %span.shop-quantity= current_order.items_count

    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;

        %ul.nav.navbar-nav
          %li
            = render layout: 'layouts/collapse_ul', locals: { type: 'home', title: 'home' } do
              - @categories.each do |category|
                %li
                  = link_to category.title, home_path(category.decorate.title_key), class: 'collapse-link'

          %li
            = render layout: 'layouts/collapse_ul', locals: { type: 'menu', title: 'language.title' } do
              %li
                = link_to t('language.en'), url_for(locale: :en), class: 'collapse-link'
              %li
                = link_to t('language.ru'), url_for(locale: :ru), class: 'collapse-link'

          %li
            = render layout: 'layouts/collapse_ul', locals: { type: 'shop', title: 'shop' } do
              = render 'books/items_with_category', items: @categories, link_class: 'collapse-link'

          - if signed_in?
            %li
              = render layout: 'layouts/collapse_ul', locals: { type: 'account', title: 'account' } do
                %li
                  = link_to t('settings'), edit_user_path, class: 'collapse-link'
                %li
                  = link_to t('orders.title'), orders_path, class: 'collapse-link'

              %li.divider{role: "separator"}
              %li
                = link_to t('log_out'), destroy_user_session_path, method: :delete,
                  class: 'collapse-link'
          - else
            %li
              = link_to t('log_in'), new_user_session_path
            %li
              = link_to t('sign_up'), new_user_registration_path

      .hidden-xs
        %ul.nav.navbar-nav
          %li.dropdown
            = render layout: 'layouts/dropdown_ul', locals: { title: 'home' } do
              - @categories.each do |category|
                %li
                  = link_to category.title, home_path(category.decorate.title_key), class: 'collapse-link'

          %li.dropdown
            = render layout: 'layouts/dropdown_ul', locals: { title: 'language.title' } do
              %li
                = link_to t('language.en'), locale: :en
              %li
                = link_to t('language.ru'), locale: :ru

          %li.dropdown
            = render layout: 'layouts/dropdown_ul', locals: { title: 'shop' } do
              = render 'books/items_with_category', items: @categories

          - if signed_in?
            %li.dropdown
              = render layout: 'layouts/dropdown_ul', locals: { title: 'account' } do
                %li
                  = link_to t('settings'), edit_user_path
                %li
                  = link_to t('orders.title'), orders_path
                %li.divider{role: "separator"}
                %li
                  = link_to t('log_out'), destroy_user_session_path, method: :delete
          - else
            %li
              = link_to t('log_in'), new_user_session_path
            %li
              = link_to t('sign_up'), new_user_registration_path


  .header-messages
    - flash.each do |key, value|
      - alert_class = case key
      - when 'notice' then 'success'
      - when 'alert' then 'warning'
      - else key
      = content_tag :div, class: "alert alert-#{alert_class}" do
        %button.close{ 'aria-label':  'Close', 'data-dismiss': 'alert', type: 'button' }
          %span{ 'aria-hidden': 'true' } ×
        = value
